.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 100px;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.formCadastro {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 30px;
  border-radius: 10px;
  background-color: rgb(92, 128, 92);
  max-width: 50%;
  width: 1000px;
  margin-bottom: 20px;

  & button {
    border-radius: 30px;
    background-color: rgb(13, 73, 28);
    height: 40px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    font-size: 16px;
    color: #fff;
  }

  & button:hover {
    opacity: 0.8;
  }

  & input {
    border: 1px solid #fff;
    border-radius: 30px;
    height: 40px;
    background-color: rgb(35, 90, 49);
    font-size: 16px;
    padding-left: 10px;
    outline: none;
    color: #fff;
  }

  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7); /* Mais escuro para contraste */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    background-color: rgb(92, 128, 92); /* Cor semelhante ao formulário */
    padding: 30px;
    border-radius: 10px; /* Bordas arredondadas */
    text-align: center;
    max-width: 400px;
    width: 90%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5); /* Sombra suave */

  }
  
  .modal-content h2 {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 15px;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Estilo similar ao título */
  }
  
  .modal-content p {
    font-size: 1rem;
    color: #fff;
    margin-bottom: 20px;
    
  }
  
  .modal-content button:hover {
    background-color: rgb(139, 31, 31); /* Vermelho mais escuro no hover */
    transform: scale(1.05); /* Leve aumento no tamanho */
    opacity: 0.9; /* Redução sutil na opacidade */
  }

  .botaoFechar {
    border-radius: 30px; /* Bordas arredondadas */
    background-color: rgb(173, 39, 39); /* Vermelho para indicar fechamento */
    color: #fff; /* Texto branco para contraste */
    font-weight: bold; /* Texto em negrito */
    font-size: 16px; /* Tamanho do texto */
    padding: 10px 20px; /* Espaçamento interno */
    border: none; /* Sem borda */
    cursor: pointer; /* Indicador de clique */
    transition: all 0.3s; /* Transição suave para hover */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3); /* Sombra suave */
  }
  
  .modal-content button{

    background-color: blue;
  }
  
  }
  
  
